/* @author: dwclake
 * @created: 10-15-2025
 *
 * Stylesheet responsible for styling the root component,
 * which includes the header, main content area, and the footer
 */

 /* Root */
.root-container {
    display: grid;
    grid-template-rows: 80px 1fr auto;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;

    background-color: #fdffee;
}

/* Header */
.header-container {
    grid-area: header;

    display: grid;
    grid-template-columns: 50px 25rem 50px 2fr;
    grid-template-areas: "logo title nav social";

    max-height: 80px;
    width: auto;

    position: sticky;
    top: 0;
    z-index: 10;

    align-content: center;

    padding: 1rem;

    background-color: #dceedd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header logo */
.header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    object-fit: contain;
    height: 50px;
    width: 50px;

    position: relative;
    top: 1rem;
}

/* Header title */
.header-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0rem 1rem;

    font-size: 2rem;
    color: #113322;
}

/* Header navigation */
.header-dropdown {
    grid-area: nav;
    display: flex;
    align-items: center;
    position: relative;
}

.header-dropdown-button {
    justify-content: left;

    background-color: #dceedd;
    border: 2px solid #193929;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-dropdown-list {
    display: box;
    list-style: none;
    align-items: center;
    justify-items: center;
    padding: 0.5rem 0.5rem;
    max-width: 150px;
    height: auto;

    position: absolute;
    top: 2rem;
    left: 2.5rem;

    background-color: #113322;
    border: 5px solid #335544;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-dropdown-list li {
    justify-content: center;
    padding: 0.3rem 0rem;
}

.header-dropdown-list a {
    padding: 1px;

    text-decoration: none;
    color: #dceedd;
    border: 2px solid #193929;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-dropdown-list a.active {
    border: 2px solid #dceedd;
}

/* Header socials */
.header-socials {
    grid-area: social;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
    padding: 0rem 1rem;
}

.header-socials a {
    padding: 0rem 2rem;
    text-decoration: none;
    color: #113322;
}

/* Main */
.main {
    grid-area: main;
    display: flex-box;
    overflow-y: auto;

    padding: 1rem;
}

/* Footer */
.footer-container {
    grid-area: footer;
    display: flex-box;

    max-height: 50px;
    width: auto;

    position: sticky;
    bottom: 0;
    z-index: 10;

    padding: 1rem;

    background-color: #dceedd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}