/**
 * Global stying
 */

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Override using browser dark mode setting */
/*@custom-variant dark (&:where(.dark, .dark *)); */
/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

@layer base {
	*,
	*::before,
	*::after {
		@apply m-0 box-border list-none border-0 p-0 no-underline outline-0;
	}

	html,
	body,
	#svelte {
		@apply h-full w-full bg-light;
		font-family: "Roboto", sans-serif;
		font-style: normal;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.abril-fatface-regular {
		font-family: "Abril Fatface", serif;
		font-style: normal;
	}

	.roboto {
		font-family: "Roboto", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	.courier-prime {
		font-family: "Courier Prime", monospace;
		font-style: normal;
	}

	.intel-one-mono {
		font-family: "Intel One Mono", monospace;
		font-optical-sizing: auto;
		font-style: normal;
	}
}

@layer components {

}

@layer directives {

}

@theme {
	--color-light: rgb(224, 220, 250);
	--color-dark: hsl(248, 27.45%, 18.94%);

	--animate-float: float 4s ease-in-out infinite;
	@keyframes float {
		0%,
		100% {
			transform: translate(-3px, 0px);
		}

		50% {
			transform: translate(3px, -10px);
		}
	}

	--animate-fade-in: fade-in 1s ease-in-out;
	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
