/**
 * Provides global stying
 */

//@tailwind base;
//@tailwind components;
//@tailwind utilities;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
        color: inherit;
        text-decoration: none;
    }
}

ul, li {
    list-style: none;
    text-indent: 0;
    list-style-type: 0;
}

html,
body,
#svelte {
    font-family: "Roboto", sans-serif;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.courier-prime {
    font-family: "Courier Prime", monospace;
    font-style: normal;
}

.intel-one-mono {
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 500;
}

.mt-xs {
    margin-top: 0.5rem;
}

.mt-sm {
    margin-top: 1rem;
}

.mt-md {
    margin-top: 2rem;
}

.mt-lg {
    margin-top: 4rem;
}

.mb-xs {
    margin-bottom: 0.5rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 2rem;
}

.mb-lg {
    margin-bottom: 4rem;
}