/**
 * Global stying
 */

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Override using browser dark mode setting */
@custom-variant dark (&:where(.dark, .dark *));
/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

@layer base {
	*,
	*::before,
	*::after {
		@apply m-0 box-border list-none border-0 p-0 no-underline outline-0;
	}

	html,
	body,
	#svelte {
		@apply h-full w-full text-base bg-mirage-50;
		font-family: "Roboto", sans-serif;
		font-style: normal;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}
	
	.default-margin {
		@apply z-10 mt-12 md:mt-6 ml-[15vh] mr-[20vh] max-w-[950px];
		margin-left: 15vw;
		margin-right: 20vw;
		max-width: 950px;
	}

	.abril-fatface-regular {
		font-family: "Abril Fatface", serif;
		font-style: normal;
	}

	.roboto {
		font-family: "Roboto", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	.courier-prime {
		font-family: "Courier Prime", monospace;
		font-style: normal;
	}

	.intel-one-mono {
		font-family: "Intel One Mono", monospace;
		font-optical-sizing: auto;
		font-style: normal;
	}
}

@layer components {

}

@layer directives {

}

@theme {
	--color-mirage: #8a8aca;
	--color-mirage-50: #f4f0ff;
	/*--color-mirage-50: rgb(244, 240, 255);*/
	--color-mirage-100: #e8ecf7;
	--color-mirage-200: #d6dbef;
	--color-mirage-300: #bdc3e4;
	--color-mirage-400: #a2a6d7;
	--color-mirage-500: #8a8aca;
	--color-mirage-600: #7771ba;
	--color-mirage-700: #6660a2;
	--color-mirage-800: #544f84;
	--color-mirage-900: #47456a;
	--color-mirage-950: #191825;


	--animate-float: float 4s ease-in-out infinite;
	@keyframes float {
		0%,
		100% {
			transform: translate(-3px, 0px);
		}

		50% {
			transform: translate(3px, -10px);
		}
	}

	--animate-fade-in: fade-in 1s ease-in-out;
	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
